:root {
  --font-family: 'Bangers', cursive;
  --main-color: #000000;
  --secondary-color: #ffffff;
}

* {
  box-sizing: border-box;
}

html {
  font-family: var(--font-family, cursive);
  font-size: 10px;
  scroll-behavior: smooth;
}

p, body, html, ul, h1, h2, h3 {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.6rem;
  font-family: inherit;
  padding-top: 6rem;
  color: var(--secondary-color, white);
  background-color: var(--main-color, black);
}

.nav {
  list-style: none;
  display: flex;
  flex-direction: row;
  color: var(--secondary-color, white);
}

.nav > * {
  margin-left: 1rem;
  padding: 0.5rem;
  font-size: 2rem;
}

.nav-link {
  color: inherit;
  text-decoration: none;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.header {
  background-color: var(--main-color, black);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 6rem;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

.logo {
  width: auto;
  height: 100%;
}

.section {
  padding: 5rem 1.5rem 0 1.5rem;
}

.header.section, .footer.section {
  padding: 0 1.5rem;
}

.section-title {
  font-size: 2.8rem;
  margin: 1rem 0;
  text-align: center;
}

.banner {
  position: relative;
  height: calc(100vh - 6rem);
  padding: 0;
  overflow: hidden;
  background-color: #FEF3D5;
}

.banner-img {
  position: absolute;
  height: 100%;
  width: auto;
  margin: 0 auto;
  display: block;
  left: 50%;
  transform: translateX(-50%);
}

.saga-title {
  text-align: center;
}

.saga-carousel {
  height: 340px;
  overflow: hidden;
  margin: 0 -1.5rem;
  position: relative;
}

.saga-carousel-button {
  display: none;
  width: 50px;
  height: 50px;
  border: 1px solid var(--secondary-color, white);
  background-color: black;
  position: absolute;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.saga-carousel-button.active {
  display: block;
}

.saga-carousel-left {
  left: 0.3rem;
}

.saga-carousel-right {
  right: 0.3rem;
}

.saga-carousel-icon {
  color: var(--secondary-color, white);
}

.saga-cards {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  overflow-x: auto;
  height: 360px;
  padding: 5px 10px;
  scroll-behavior: smooth;
}

.saga-card {
  background-color: #151414;
  padding: 1rem;
  flex: 0 0 160px;
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
  border-radius: 2px;
  bottom: 0;
  box-shadow: 0 2px 2px 0 rgba(255,255,255,.16), 0 0 0 1px rgba(255,255,255,.08)
}

.saga-card-title {
  margin: 1rem 0;
  min-height: 6rem;
}

.saga-card:last-child {
  margin-right: 1.5rem;
}

.saga-card-img {
  display: flex;
  justify-content: center;
}

.saga-card-img > * {
  width: 100%;
}

.trailer-video {
  width: 100%;
  margin: 0 auto;
  max-width: 395px;
  height: 220px;
}

.trailer-video > * {
  height: 100%;
  width: 100%;
}

.newsletter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.newsletter-title {
  margin: 0 0 1.5rem 0;
}

.newsletter-form {
  display: flex;
  justify-content: center;
}

.newsletter-input, .newsletter-submit {
  background-color: var(--main-color, black);
  color: var(--secondary-color, white);
  border: 1px solid white;
}

.newsletter-input {
  width: 200px;
  height: 25px;
  padding: 0 1.5rem;
  border-right: none;
  transition: border 0.3s ease-in;
}

.newsletter-input:focus {
  outline: #1e90ff;
  border-color: #1e90ff;
}

.newsletter-skew {
  transform: skew(-12deg);
}

.newsletter-submit {
  width: 80px;
  height: 25px;
  box-shadow: none;
  cursor: pointer;
}

.footer {
  padding: 1.5rem;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 610px) {
  body {
    padding-top: 8rem;
  }

  .header {
    height: 8rem;
  }
  
  .banner {
    height: calc(100vh - 8rem);
  }

  .trailer-video {
    max-width: 565px;
    height: 315px;
  }

  .newsletter-title {
    margin: 0 2.5rem 0 0;
  }

  .section {
    padding: 10rem 1.5rem 0 1.5rem;
  }

  .section-title {
    font-size: 4rem;
    margin: 3rem 0;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .trailer-video {
    max-width: 1130px;
    height: 630px;
  }
}
