:root {
  --font-family: 'Bangers', cursive;
  --main-color: #000000;
  --secondary-color: #ffffff;
}

* {
  box-sizing: border-box;
}

html {
  font-family: var(--font-family, cursive);
  font-size: 10px;
}

p, body, html, ul, h1, h2, h3 {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.6rem;
  font-family: inherit;
  padding-top: 8rem;
  color: var(--secondary-color, white);
  background-color: var(--main-color, black);
}

.nav {
  list-style: none;
  display: flex;
  flex-direction: row;
  color: var(--secondary-color, white);
}

.nav > * {
  margin-left: 1rem;
  padding: 0.5rem;
  font-size: 2rem;
}

.nav-link {
  color: inherit;
  text-decoration: none;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.header {
  background-color: var(--main-color, black);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 8rem;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

.logo {
  width: auto;
  height: 100%;
}

.section {
  padding: 10rem 1.5rem 0 1.5rem;
}

.header, .footer {
  padding: 0 1.5rem;
}

.section-title {
  font-size: 4rem;
  margin: 3rem 0;
  text-align: center;
}

.banner {
  position: relative;
  height: calc(100vh - 8rem);
  padding: 0;
  overflow: hidden;
  background-color: #FEF3D5;
}

.banner-img {
  position: absolute;
  height: 100%;
  width: auto;
  margin: 0 auto;
  display: block;
  left: 50%;
  transform: translateX(-50%);
}

.saga-title {
  text-align: center;
}

.saga-carousel {
  height: 340px;
  overflow: hidden;
  margin: 0 -1.5rem;
}

.saga-cards {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  overflow-x: auto;
  height: 360px;
  padding: 5px 10px;
}

.saga-card {
  background-color: #151414;
  padding: 1rem;
  flex: 0 0 160px;
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
  border-radius: 2px;
  bottom: 0;
  box-shadow: 0 2px 2px 0 rgba(255,255,255,.16), 0 0 0 1px rgba(255,255,255,.08)
}

.saga-card-title {
  margin: 1rem 0;
  min-height: 6rem;
}

.saga-card:last-child {
  margin-right: 1.5rem;
}

.saga-card-img {
  display: flex;
  justify-content: center;
}

.saga-card-img > * {
  width: 100%;
}

.trailer-video {
  width: 100%;
  max-width: 1130px;
  height: 630px;
  margin: 0 auto;
}

.trailer-video > * {
  height: 100%;
  width: 100%;
}

.footer {
  padding: 10rem 1.5rem 1.5rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}